.table-container {
  flex-direction: column;
  overflow: hidden;
  margin: 10rem;
  border-radius: 3rem;
  color: var(--color-font-light);
  background-color: var(--color-background);
  border: solid 1rem var(--color-background-tint);
  max-height: calc(100% - 22rem);
  min-height: calc(100% - 22rem);
  max-width: calc(100% - 22rem);
  min-width: calc(100% - 22rem);
}

.table-subheader-container {
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.table-header-row,
.table-entry-row {
  border-bottom: solid 0.5rem var(--color-background-tint);
}

.table-entry-row:last-of-type {
  border-bottom: none;
}

.table-text-header,
.table-label,
.table-image-header,
.table-image-container {
  min-width: 150rem;
  max-width: 150rem;
  text-align: center;
  justify-content: center;
  border-right: solid 0.5rem var(--color-background-tint);
}

.table-image-header,
.table-image-container {
  min-width: 200rem;
  max-width: 200rem;
}

.table-label,
.table-image-container {
  align-items: center;
}

.table-image-container {
  background: black;
  min-height: 300rem;
  max-height: 300rem;
}
