<ng-container *ngIf="artistIds && artistIds.length > 0">
  <div class="table-container flex">
    <div class="table-header-row flex">
      <div class="table-image-header flex">Original</div>
      <div class="table-text-header flex">Artist</div>
      <div *ngFor="let prompt of prompts" class="table-image-header flex">
        "{{ prompt }}"
      </div>
    </div>
    <div class="table-subheader-container flex">
      <div *ngFor="let artist of artistIds" class="table-entry-row flex">
        <app-image-entry
          class="table-image-container flex"
          [ngClass]="{ active: originalMap[artists[artist]._id] }"
          [image]="originalMap[artists[artist]._id]"
        >
        </app-image-entry>

        <div class="table-label flex">
          <a
            target="_blank"
            href="{{
              artists[artist].referenceUrl
                ? artists[artist].referenceUrl
                : undefined
            }}"
          >
            {{ getArtistName(artists[artist]) }}
          </a>
        </div>

        <app-image-entry
          *ngFor="let prompt of prompts"
          class="table-image-container flex"
          [ngClass]="{ active: promptMap[prompt][artists[artist]._id] }"
          [image]="promptMap[prompt][artists[artist]._id]"
        >
        </app-image-entry>
      </div>
    </div>
  </div>
</ng-container>
