@import "~normalize.css";
@import "./variables.scss";

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: var(--color-background-tint);
}

::-webkit-scrollbar-thumb {
  border: 1px solid var(--color-background-tint);
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.5);
}

* {
  font-family: var(--font-default);
}

a {
  color: var(--color-font-light);
}

.flex {
  display: flex;
}
