:root {
  --color-font-light: #e8ebee;
  --color-font-dark: #000000;
  --color-background-tint: #2d3342;
  --color-background: #0a0d21;
  --color-background-shade: #020a1d;
  --color-background-dark: #000010;
  --color-neon-blue: #07c8f4;
  --color-neon-teal: #00f7c0;
  --color-neon-fuschia: #e024db;
  --color-neon-red: #ed2d6a;
  --color-neon-orange: #fb864b;

  --font-default: Arial, Helvetica, sans-serif;
}
